amqp==5.0.9
aniso8601==8.1.0
Authlib==1.0.0b1
certifi==2020.12.5
cffi==1.15.0
chardet==4.0.0
click==7.1.2
cloudevents==1.2.0
cryptography==3.4.7
deprecation==2.1.0
flask-rabmq==0.0.22
Flask-RESTful==0.3.8
flask-swagger-ui==3.36.0
Flask==1.1.2
gunicorn==20.1.0
idna==2.10
inuits-jwt-auth==0.0.15
itsdangerous==1.1.0
Jinja2==2.11.2
job_helper==0.1.8
kombu==5.2.3
MarkupSafe==2.0.1
numpy==1.22.1
opencv-python-headless==4.5.5.62
packaging==21.0
pycparser==2.20
pyparsing==2.4.7
pytz==2020.5
requests==2.25.1
six==1.15.0
urllib3==1.26.3
vine==5.0.0
Werkzeug==1.0.1
